@charset "UTF-8";
/* ----------------------------------------
  Punching◇Panels
  カスタムcssファイル (18p/36p 統合版)

  Created : 2022/01/28
  Revised : 

  https://github.com/cwtickle/punching-panels
------------------------------------------ */

div[id^="stepHit"] {
  top: -10px !important;
}

@keyframes motionArrow {
  0% {
    left: var(--from-x);
    top: var(--from-y);
    width: 50px;
    height: 0px;
    background: #ffffff;
  }

  100% {
    left: var(--to-x);
    top: var(--to-y);
    width: 50px;
    height: 50px;
  }
}

@keyframes motionArrowOrg {
  0% {
    left: var(--from-x);
    top: var(--from-y);
    width: 50px;
    height: 0px;
  }

  100% {
    left: var(--to-x);
    top: var(--to-y);
    width: 50px;
    height: 50px;
  }
}

.j11,
.j12,
.j13,
.j14,
.j15,
.j21,
.j22,
.j23,
.j24,
.j31,
.j32,
.j33,
.j34,
.j41,
.j42,
.j43,
.j44,
.j45,
.j16,
.j17,
.j18,
.j19,
.j1a,
.j26,
.j27,
.j28,
.j29,
.j36,
.j37,
.j38,
.j39,
.j46,
.j47,
.j48,
.j49,
.j4a {
  animation-timing-function: linear, step-end;
  animation-fill-mode: forwards;
}

.j11,
.j21,
.j31,
.j41,
.j16,
.j26,
.j36,
.j46 {
  border: 2px solid #6666ff;
  background: #000066;
}

.j12,
.j22,
.j32,
.j42,
.j17,
.j27,
.j37,
.j47 {
  border: 2px solid #66ffff;
  background: #003333;
}

.j13,
.j43,
.j18,
.j48 {
  border: 2px solid #ffffff;
  background: #333333;
}

.j14,
.j23,
.j33,
.j44,
.j19,
.j28,
.j38,
.j49 {
  border: 2px solid #ffff66;
  background: #333300;
}

.j15,
.j24,
.j34,
.j45,
.j1a,
.j29,
.j39,
.j4a {
  border: 2px solid #ff9966;
  background: #663300;
}

.j11 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 0px;
  --from-y: 110px;
  --to-x: 100px;
  --to-y: 110px;
}

.j12 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 120px;
  --from-y: 80px;
  --to-x: 200px;
  --to-y: 110px;
}

.j13 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 300px;
  --from-y: 60px;
  --to-x: 300px;
  --to-y: 110px;
}

.j14 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 480px;
  --from-y: 80px;
  --to-x: 400px;
  --to-y: 110px;
}

.j15 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 600px;
  --from-y: 110px;
  --to-x: 500px;
  --to-y: 110px;
}

.j16 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 500px;
  --from-y: 110px;
  --to-x: 600px;
  --to-y: 110px;
}

.j17 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 620px;
  --from-y: 80px;
  --to-x: 700px;
  --to-y: 110px;
}

.j18 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 800px;
  --from-y: 60px;
  --to-x: 800px;
  --to-y: 110px;
}

.j19 {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 980px;
  --from-y: 80px;
  --to-x: 900px;
  --to-y: 110px;
}

.j1a {
  animation-name: motionArrow;
  top: 50px;
  --from-x: 1100px;
  --from-y: 110px;
  --to-x: 1000px;
  --to-y: 110px;
}

.j21 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 50px;
  --from-y: 170px;
  --to-x: 150px;
  --to-y: 170px;
}

.j22 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 170px;
  --from-y: 140px;
  --to-x: 250px;
  --to-y: 170px;
}

.j23 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 430px;
  --from-y: 140px;
  --to-x: 350px;
  --to-y: 170px;
}

.j24 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 550px;
  --from-y: 170px;
  --to-x: 450px;
  --to-y: 170px;
}

.j26 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 550px;
  --from-y: 170px;
  --to-x: 650px;
  --to-y: 170px;
}

.j27 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 670px;
  --from-y: 140px;
  --to-x: 750px;
  --to-y: 170px;
}

.j28 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 930px;
  --from-y: 140px;
  --to-x: 850px;
  --to-y: 170px;
}

.j29 {
  animation-name: motionArrow;
  top: 150px;
  --from-x: 1050px;
  --from-y: 170px;
  --to-x: 950px;
  --to-y: 170px;
}

.j31 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 50px;
  --from-y: 230px;
  --to-x: 150px;
  --to-y: 230px;
}

.j32 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 170px;
  --from-y: 260px;
  --to-x: 250px;
  --to-y: 230px;
}

.j33 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 430px;
  --from-y: 260px;
  --to-x: 350px;
  --to-y: 230px;
}

.j34 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 550px;
  --from-y: 230px;
  --to-x: 450px;
  --to-y: 230px;
}

.j36 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 550px;
  --from-y: 230px;
  --to-x: 650px;
  --to-y: 230px;
}

.j37 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 670px;
  --from-y: 260px;
  --to-x: 750px;
  --to-y: 230px;
}

.j38 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 930px;
  --from-y: 260px;
  --to-x: 850px;
  --to-y: 230px;
}

.j39 {
  animation-name: motionArrow;
  top: 250px;
  --from-x: 1050px;
  --from-y: 230px;
  --to-x: 950px;
  --to-y: 230px;
}

.j41 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 0px;
  --from-y: 290px;
  --to-x: 100px;
  --to-y: 290px;
}

.j42 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 120px;
  --from-y: 340px;
  --to-x: 200px;
  --to-y: 290px;
}

.j43 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 300px;
  --from-y: 390px;
  --to-x: 300px;
  --to-y: 290px;
}

.j44 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 480px;
  --from-y: 340px;
  --to-x: 400px;
  --to-y: 290px;
}

.j45 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 600px;
  --from-y: 290px;
  --to-x: 500px;
  --to-y: 290px;
}

.j46 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 500px;
  --from-y: 290px;
  --to-x: 600px;
  --to-y: 290px;
}

.j47 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 620px;
  --from-y: 340px;
  --to-x: 700px;
  --to-y: 290px;
}

.j48 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 800px;
  --from-y: 390px;
  --to-x: 800px;
  --to-y: 290px;
}

.j49 {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 980px;
  --from-y: 340px;
  --to-x: 900px;
  --to-y: 290px;
}

.j4a {
  animation-name: motionArrow;
  top: 350px;
  --from-x: 1100px;
  --from-y: 290px;
  --to-x: 1000px;
  --to-y: 290px;
}

.j11_org,
.j12_org,
.j13_org,
.j14_org,
.j15_org,
.j21_org,
.j22_org,
.j23_org,
.j24_org,
.j31_org,
.j32_org,
.j33_org,
.j34_org,
.j41_org,
.j42_org,
.j43_org,
.j44_org,
.j45_org,
.j16_org,
.j17_org,
.j18_org,
.j19_org,
.j1a_org,
.j26_org,
.j27_org,
.j28_org,
.j29_org,
.j36_org,
.j37_org,
.j38_org,
.j39_org,
.j46_org,
.j47_org,
.j48_org,
.j49_org,
.j4a_org {
  animation-timing-function: linear, step-end;
  animation-fill-mode: forwards;
}

.j11_org,
.j21_org,
.j31_org,
.j41_org,
.j16_org,
.j26_org,
.j36_org,
.j46_org {
  border: 2px solid #6666ff;
  background: #000066;
}

.j12_org,
.j22_org,
.j32_org,
.j42_org,
.j17_org,
.j27_org,
.j37_org,
.j47_org {
  border: 2px solid #66ffff;
  background: #003333;
}

.j13_org,
.j43_org,
.j18_org,
.j48_org {
  border: 2px solid #ffffff;
  background: #333333;
}

.j14_org,
.j23_org,
.j33_org,
.j44_org,
.j19_org,
.j28_org,
.j38_org,
.j49_org {
  border: 2px solid #ffff66;
  background: #333300;
}

.j15_org,
.j24_org,
.j34_org,
.j45_org,
.j1a_org,
.j29_org,
.j39_org,
.j4a_org {
  border: 2px solid #ff9966;
  background: #663300;
}

.j11_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 50px;
  --from-y: 110px;
  --to-x: 100px;
  --to-y: 110px;
}

.j12_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 150px;
  --from-y: 110px;
  --to-x: 200px;
  --to-y: 110px;
}

.j13_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 300px;
  --from-y: 60px;
  --to-x: 300px;
  --to-y: 110px;
}

.j14_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 450px;
  --from-y: 110px;
  --to-x: 400px;
  --to-y: 110px;
}

.j15_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 550px;
  --from-y: 110px;
  --to-x: 500px;
  --to-y: 110px;
}

.j16_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 550px;
  --from-y: 110px;
  --to-x: 600px;
  --to-y: 110px;
}

.j17_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 650px;
  --from-y: 110px;
  --to-x: 700px;
  --to-y: 110px;
}

.j18_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 800px;
  --from-y: 60px;
  --to-x: 800px;
  --to-y: 110px;
}

.j19_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 950px;
  --from-y: 110px;
  --to-x: 900px;
  --to-y: 110px;
}

.j1a_org {
  animation-name: motionArrowOrg;
  top: 50px;
  --from-x: 1050px;
  --from-y: 110px;
  --to-x: 1000px;
  --to-y: 110px;
}

.j21_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 100px;
  --from-y: 170px;
  --to-x: 150px;
  --to-y: 170px;
}

.j22_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 200px;
  --from-y: 170px;
  --to-x: 250px;
  --to-y: 170px;
}

.j23_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 400px;
  --from-y: 170px;
  --to-x: 350px;
  --to-y: 170px;
}

.j24_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 500px;
  --from-y: 170px;
  --to-x: 450px;
  --to-y: 170px;
}

.j26_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 600px;
  --from-y: 170px;
  --to-x: 650px;
  --to-y: 170px;
}

.j27_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 700px;
  --from-y: 170px;
  --to-x: 750px;
  --to-y: 170px;
}

.j28_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 900px;
  --from-y: 170px;
  --to-x: 850px;
  --to-y: 170px;
}

.j29_org {
  animation-name: motionArrowOrg;
  top: 150px;
  --from-x: 1000px;
  --from-y: 170px;
  --to-x: 950px;
  --to-y: 170px;
}

.j31_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 100px;
  --from-y: 230px;
  --to-x: 150px;
  --to-y: 230px;
}

.j32_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 200px;
  --from-y: 230px;
  --to-x: 250px;
  --to-y: 230px;
}

.j33_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 400px;
  --from-y: 230px;
  --to-x: 350px;
  --to-y: 230px;
}

.j34_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 500px;
  --from-y: 230px;
  --to-x: 450px;
  --to-y: 230px;
}

.j36_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 600px;
  --from-y: 230px;
  --to-x: 650px;
  --to-y: 230px;
}

.j37_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 700px;
  --from-y: 230px;
  --to-x: 750px;
  --to-y: 230px;
}

.j38_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 900px;
  --from-y: 230px;
  --to-x: 850px;
  --to-y: 230px;
}

.j39_org {
  animation-name: motionArrowOrg;
  top: 250px;
  --from-x: 1000px;
  --from-y: 230px;
  --to-x: 950px;
  --to-y: 230px;
}

.j41_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 50px;
  --from-y: 290px;
  --to-x: 100px;
  --to-y: 290px;
}

.j42_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 150px;
  --from-y: 290px;
  --to-x: 200px;
  --to-y: 290px;
}

.j43_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 300px;
  --from-y: 340px;
  --to-x: 300px;
  --to-y: 290px;
}

.j44_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 450px;
  --from-y: 290px;
  --to-x: 400px;
  --to-y: 290px;
}

.j45_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 550px;
  --from-y: 290px;
  --to-x: 500px;
  --to-y: 290px;
}

.j46_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 550px;
  --from-y: 290px;
  --to-x: 600px;
  --to-y: 290px;
}

.j47_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 650px;
  --from-y: 290px;
  --to-x: 700px;
  --to-y: 290px;
}

.j48_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 800px;
  --from-y: 340px;
  --to-x: 800px;
  --to-y: 290px;
}

.j49_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 950px;
  --from-y: 290px;
  --to-x: 900px;
  --to-y: 290px;
}

.j4a_org {
  animation-name: motionArrowOrg;
  top: 350px;
  --from-x: 1050px;
  --from-y: 290px;
  --to-x: 1000px;
  --to-y: 290px;
}